<main>
    <h2>Movie Lists</h2>
  <ul class="list-cards">
    <% @lists.each do |list| %>
      <li> <%= link_to list.name, list_path(list) %>
      </li>
        <% if list.photo.attached?%>
         <%= cl_image_tag list.photo.key, height: 200, width: 300, crop: :fill %>
        <% end %>
    <% end %>
    <li class="add-list">
      <%= link_to 'Add List 📑', new_list_path %>
    </li>
  </ul>
</main>
